/*grid display*/
.container {
    display: grid;
    grid-template-areas: "title main" "menu main" "menu main" "menu footer";
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 100px;
    grid-gap: 5px;
}

.title{
    grid-area: title;
}
.main{
    grid-area: main;
}
.menu{
    grid-area: menu;
}
.footer{
    grid-area: footer;
}

section{
    border: 1px gray solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    /*background: red;*/
}
/*class for backgrounds*/
.blueBackground
{
    background: blue;
}

.redBackground
{
    background: red;
}

